RewriteEngine On

#RewriteRule ([^/\.]+)/?.html$ test.php?id=$1 [L]

#RewriteRule ^(.*)$ test.php?params=$1 [L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ index.php?page=$1 [QSA]
RewriteRule ^/$ index.php?page=home [QSA]