<main>
    <div id="slider">
        <img class="mainSlide" src="images/slider/slider_1.jpg">
        <img class="mainSlide" src="images/slider/slider_2.jpg">
        <img class="mainSlide" src="images/slider/slider_3.jpg">
        <img class="mainSlide" src="images/slider/slider_4.jpg">
        <div class="slider-navigation">
            <span class="demo-slider" onclick="currentDiv(1)"></span> 
            <span class="demo-slider" onclick="currentDiv(2)"></span> 
            <span class="demo-slider" onclick="currentDiv(3)"></span>
            <span class="demo-slider" onclick="currentDiv(4)"></span>
        </div>
    </div>
    <div class="container col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="row">
			<p style="font-size: 25px; min-height: 250px; padding-top: 100px;" >Page Not Found</p>
		</div>
	</div>	
</main>