<?php 
    //$products = include ROOTPATH . '/modules/product.php';
    
    //print_r($products);
//include (ROOTPATH . '/engine/product.php'); 
?>
<main>
    <div id="slider">
      <img class="mySlides" src="images/slider/slider_1.jpg" style="width:100%">
      <img class="mySlides" src="images/slider/slider_2.jpg" style="width:100%">
      <img class="mySlides" src="images/slider/slider_3.jpg" style="width:100%">
    </div>
    <div class="container col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="row">
            product
        </div>
    </div>
</main>